%YAML 1.2
---
###############################################################################
#{{ ansible_managed }}
###############################################################################

Application:
  license_key: {{ newrelic_license_key }}
  poll_interval: {{ newrelic_plugin_poll_interval }}

{% if newrelic_plugin_api_timeout|default(False) != False %}
  newrelic_api_timeout:{{ newrelic_plugin_api_timeout }}
{% else %}
  #newrelic_api_timeout: 10
{% endif %}

{% if newrelic_proxy|default(False) != False %}
  newrelic_proxy:{{ newrelic_proxy }}
{% else %}
  #proxy: http://localhost:8080
{% endif %}


{% if newrelic_plugin_apache|default(False) != False %}
  apache_httpd:
     -  name: hostname1
        scheme: http
        host: localhost
        port: 80
        path: /server-status
        #verify_ssl_cert: true
     -  name: hostname2
        scheme: http
        host: localhost
        port: 80
        path: /server-status
        #verify_ssl_cert: true
{% else %}
# Apache plugin disabled in ansbile for this node
{% endif %}

{% if newrelic_plugin_couchdb|default(False) != False %}
  couchdb:
     -  name: localhost
        host: localhost
        port: 5984
        #verify_ssl_cert: true
        #username: foo
        #password: bar
     -  name: localhost
        host: localhost
        port: 5984
        #verify_ssl_cert: true
        #username: foo
        #password: bar
{% else %}
# Couchdb plugin disabled in ansbile for this node
{% endif %}

{% if newrelic_plugin_elasticsearch|default(False) != False %}
  elasticsearch:
    name: '{{ elasticsearch_cluster_name }}'
    host: localhost
    port: 9200
{% else %}
# elasticsearch plugin disabled in ansbile for this node
{% endif %}

{% if newrelic_plugin_haproxy|default(False) != False %}
  haproxy:
    name: my-haproxy-server
    host: localhost
    port: 80
    path: /haproxy?stats;csv
    scheme: http
    #verify_ssl_cert: true
    #username: foo
    #password: bar
{% else %}
# haproxy plugin disabled in ansbile for this node
{% endif %}


{% if newrelic_plugin_mongodb|default(False) != False %}
  mongodb:
    name: hostname
    host: localhost
    port: 27017
    admin_username: foo
    admin_password: bar
    databases:
      database_name_1:
        username: foo
        password: bar
      database_name_2:
        username: foo
        password: bar
{% else %}
# mongodb plugin disabled in ansbile for this node
{% endif %}

{% if newrelic_plugin_memcached|default(False) != False %}
  memcached:
    - name: localhost
      host: localhost
      port: 11211
      path: /path/to/unix/socket
    - name: localhost
      host: localhost
      port: 11211
      path: /path/to/unix/socket
{% else %}
# memcached plugin disabled in ansbile for this node
{% endif %}

{% if newrelic_plugin_nginx|default(False) != False %}
  nginx:
    - name: hostname
      host: localhost
      port: 80
      path: /nginx_stub_status
      #verify_ssl_cert: true
    - name: hostname
      host: localhost
      port: 80
      path: /nginx_stub_status
      #verify_ssl_cert: true
{% else %}
# nginx plugin disabled in ansbile for this node
{% endif %}

{% if newrelic_plugin_pgbouncer|default(False) != False %}
  pgbouncer:
    - host: localhost
      port: 6000
      user: stats
{% else %}
# pgbouncer plugin disabled in ansbile for this node
{% endif %}

{% if newrelic_plugin_php_apc|default(False) != False %}
  php_apc:
     scheme: http
     host: localhost
     port: 80
     path: /apc-nrp.php
     #username: foo
     #password: bar
     #verify_ssl_cert: t
{% else %}
# php_apc plugin disabled in ansbile for this node
{% endif %}

{% if newrelic_plugin_php_fpm|default(False) != False %}
  php_fpm:
    - name: fpm-pool
      scheme: https
      host: localhost
      port: 443
      path: /fpm_status
      query: json
{% else %}
# php_fpm plugin disabled in ansbile for this node
{% endif %}

{% if newrelic_plugin_postgresql|default(False) != False %}
  postgresql:
    - host: localhost
      port: 5432
      user: postgres
      dbname: postgres
      superuser: True
{% else %}
# postgresql plugin disabled in ansbile for this node
{% endif %}

{% if newrelic_plugin_rabbitmq|default(False) != False %}
  rabbitmq:
    - name: rabbitmq@localhost
      host: localhost
      port: 15672
      username: guest
      password: guest
      #verify_ssl_cert: true
      api_path: /api
{% else %}
# rabbitmq plugin disabled in ansbile for this node
{% endif %}

{% if newrelic_plugin_redis|default(False) != False %}
  redis:
    - name: localhost
      host: localhost
      port: 6379
      db_count: 16
      password: foobar
      #path: /var/run/redis/redis.sock
    - name: localhost
      host: localhost
      port: 6380
      db_count: 16
      password: foobar
      #path: /var/run/redis/redis.sock
{% else %}
# redis plugin disabled in ansbile for this node
{% endif %}

{% if newrelic_plugin_riak|default(False) != False %}
  riak:
    - name: localhost
      host: localhost
      port: 8098
      #verify_ssl_cert: true
{% else %}
# riak plugin disabled in ansbile for this node
{% endif %}

Daemon:
  user: {{ newrelic_plugin_user }}
  pidfile: {{ newrelic_plugin_pid_location }}/{{ newrelic_plugin_pid_name }}

Logging:
  formatters:
    verbose:
      format: '{{ newrelic_plugin_log_format }}'
  handlers:
    file:
      class : logging.handlers.RotatingFileHandler
      formatter: verbose
      filename: {{ newrelic_plugin_log_location }}/{{ newrelic_plugin_log_name }}
      maxBytes: {{ newrelic_plugin_log_maxbytes }}
      backupCount: {{ newrelic_plugin_log_backupcount }}
  loggers:
    newrelic_plugin_agent:
      level: {{ newrelic_plugin_log_level }}
      propagate: {{ newrelic_plugin_log_propagate }}
      handlers: [console, file]
    requests:
      level: ERROR
      propagate: True
      handlers: [console, file]